<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>PT.Sinar Tambang</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quo delectus ipsam ducimus doloremque quisquam dignissimos labore modi! Quae blanditiis aut ea doloribus sunt rerum praesentium dignissimos repudiandae quia corporis! Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Dignissimos, ex repellat quis dolores accusamus ea similique officiis nam incidunt sequi atque animi nisi vel placeat! Saepe, ipsam obcaecati! Dolore, error? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Atque laudantium corrupti iure debitis dolor unde aperiam accusamus illo tenetur. Ipsam expedita est repudiandae dicta magni recusandae officiis harum vero delectus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit minus doloribus
    nulla iure quia voluptatum odio atque, exercitationem, doloremque hic ducimus et iusto dolores rerum vitae temporibus. Voluptate, aut nostrum!
</body>

</html>